<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RECLAMOS</title>
     <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet">
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Avances en Computación</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
            <li><a href="/registroReclamo">Reclamos</a></li>
            <li><a href="#contact">Contactanos</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	  <div id="page_wrap" align="center">
	  	<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <section class="main" id="s1">
			   <%- body %>
			</section>
      </div>

  </body>
